@import "tailwindcss";

@font-face {
  font-family: "dana";
  src: url("/fonts/dana-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("/fonts/dana-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "dana";
  font-weight: 500;
  line-height: normal !important;
}

body {
  direction: rtl;
  background-color: #e3e3e3 !important;
}

a {
  text-decoration: none !important;
  color: inherit;
  display: inline-block;
}
